---
title: GitLab for Open Source
description: "Open Source organizations can access our top tier features, plus 50,000 CI pipeline minutes, for free. Find out more!"
twitter_image: "/images/opengraph/gitlab-open-source.png"
twitter_image_alt: "Graphic stylized to represent open source"
twitter_site: "gitlab"
twitter_creator: "gitlab"
suppress_header: true
canonical_path: "/solutions/open-source/"
extra_css:
  - open-source.css
  - open-source-partners-common.css
  - faq.css
extra_js:
  - open-source.js
  - libs/tweenmax.min.js
---

.blank-header
  = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
  = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
  .header-content
    = image_tag "/images/icons/explore-open-source.svg", alt: "Gitlab explore open source svg"
    %h1 GitLab for Open Source
    %p GitLab believes in a world where everyone can contribute and we like to support those who share our mission. Open Source organizations can access our top tier features, plus 50,000 CI pipeline minutes, for free.
    = link_to "Join the GitLab for Open Source program", "/solutions/open-source/join", class: "btn cta-btn accent"

.toc-links
  = link_to "About", "#about"
  = link_to "FOSS spotlight", "#foss-spotlight"
  = link_to "Popular projects", "#popular-projects"
  = link_to "Resources", "#resources"

.gitlab-content-container.open-source-content.padding-top50
  .content.opensource-about#about
    .content-section-title-container
      %h2 About
      %p GitLab exists today in large part thanks to the work of a vast community of open source contributors around the world. As a company, we are deeply committed to being a <a href="https://about.gitlab.com/company/stewardship/" target="_blank">good steward of the GitLab Open Source project</a>.
      
      %p To give back to this community who gives us so much, we want to enable teams be more efficient, secure, and productive. We believe the best way for them to achieve this is by using as many of the capabilities of GitLab as possible.

      %p We offer our top tiers, plus 50K CI minutes per month, for free to qualifying open source projects and organizations.

      %h3 Grow your FOSS project with a single user-friendly platform
      %p GitLab helps you onboard newcomers to your project faster and more easily than ever with a single tool for all aspects of your software development lifecycle. 

      %p Not only created for developers, GitLab enables cross-functional team collaboration. It's a perfect tool for Design, Documentaion, Engagement, and Governance teams alike. GitLab's user-friendly and inclusive design makes it easier to attract and retain contributors from diverse backgrounds to help your project thrive.

      %h3 World-class CI/CD and Security
      %p Continuous Integration (CI) and Continuous Delivery (CD) help you cut down on manual work and increase automation. They enable you to build and deploy great quality software more quickly. 
      
      %p Since <a https://about.gitlab.com/stages-devops-lifecycle/continuous-integration/" target="_blank">GitLab CI</a> is fully integrated, it allows you to get set up faster and provides a seamless experience. GitLab for Open Source members get 50K CI minutes per month for free.

      %p Using GitLab CI with one of our top tiers provides you with best-in-class functionality. However, if your FOSS community is using another source code management platform, we still encourage you to use GitLab CI! With Security baked into our CI pipelines, you'll see why more and more FOSS projects are joining the #movingtogitlab train. 

      %p Still deciding? We encourage you to <a https://about.gitlab.com/devops-tools/" target="_blank">learn more about how GitLab CI compares</a> to other popular CI providers such as Travis CI and Circle CI and see for yourself.

      %h3 Choose the GitLab product that's right for your FOSS community
      %p You can choose to host your open source project on gitlab.com or self-host your own instance. Each of these options has <a href="https://about.gitlab.com/features/" target="_blank">powerful features</a> to enable you to develop enterprise-grade software at scale.
      
      %p When you join the GitLab for Open Source program, you can choose from the top tiers of our Enterprise Edition: <a href="https://about.gitlab.com/pricing/" target="_blank"> Gold (hosted on gitlab.com) and Ultimate (self-hosted)</a>. These tiers are designed for team collaboration at scale. In alignment with our <a href="https://about.gitlab.com/handbook/values/#transparency" target="_blank">Transparency value</a>, all of the GitLab Enterprise Edition code is source-available.

      %p Our Community Edition is always available to download for free and is completely open source. It is published under an <a href="https://opensource.org/licenses/MIT" target="_blank"> MIT open source license</a> and offers the same features as our free Core product in the Enterprise Edition. 
      
      %p <a href="https://about.gitlab.com/solutions/open-source/partners/" target="_blank">GitLab's Open Source Partners</a>, are leveraging each of our Gold, Ultimate, and Community Editions. They serve as examples of how large open source communities can thrive with GitLab.

      %p We encourage you to <a href="https://about.gitlab.com/install/ce-or-ee/" target="_blank">learn more about the differences between the Enterprise and Community Editions</a> so that you can choose the best option for your own FOSS project. If you have any questions, reach out to us via opensource@gitlab.com.

  .content.spotlight#foss-spotlight
    %h2.content-title FOSS Spotlight: GNOME
    %iframe{ src: "https://www.youtube.com/embed/v6GTrbfe9xk", allowfullscreen: "" }
  .content.popular-projects#popular-projects

    %h2.content-title Popular projects
    %p Meet our Open Source Partners! Together, we work to improve GitLab for FOSS communities. <a href="https://about.gitlab.com/solutions/open-source/partners/" target="_blank">Learn more and apply to become a member</a>.
    = partial "/includes/community/open-source-partners-logos"
    = link_to "More open source projects", "/solutions/open-source/projects", class: "btn cta-btn purple margin-top20"

  .content.quote
    %blockquote.lg
      .blockquote-background#blockquote-background
      .flex-container.flex-column
        %p "Free software enables and empowers us as a society to build upon past knowledge and create greater and more impactful technologies."
        %p.author
          Carlos Soriano
          %br Board of Directors, GNOME
  .content.opensource-resources#resources
    .content-section-title-container
      %h2 Resources
      %p We think there’s something magical about building free software with free software.
    .flex-container
      = link_to "/community", class: "tile tile-animated" do
        = image_tag "/images/icons/solid-icons/community-icon.svg", class: "tile-icon margin-bottom30", alt: "Gitlab community icon svg"
        .tile-content
          %h3 Community Resources
      %a.tile.tile-animated{ href: "https://gitlab.com/explore/projects/starred", target: "_blank" }
        = image_tag "/images/icons/solid-icons/trending-icon.svg", class: "tile-icon margin-bottom30", alt: "Gitlab trending icon svg"
        .tile-content
          %h3 Trending Projects
    .flex-container
      %a.tile.tile-animated{ href: "https://gitlab.com/gitlab-org/gitlab-development-kit/", target: "_blank" }
        = image_tag "/images/downloads/logo.svg", class: "tile-icon margin-bottom30", alt: "Gitlab logo svg"
        .tile-content
          %h3 GitLab Development Kit
      = link_to "/blog/2017/11/01/gitlab-switches-to-dco-license", class: "tile tile-animated" do
        = image_tag "/images/icons/solid-icons/docs-icon.svg", class: "tile-icon margin-bottom30", alt: "Gitlab docs icon svg"
        .tile-content
          %h3 Why we switched to DCO
