- if topic.cta_banner != nil
  %hr.u-margin-top-sm.u-margin-bottom-0
  .row.topic-body
    .col
      .cta-banner
        / For each article in the CTA banner
        - topic.cta_banner.each do |article|
          %div.position-relative.cta_banner_background.u-margin-top-lg
            %h2
              = article.title
            / If a subtitle is included, do this
            - if article.subtitle != nil
              %h3.h5.u-margin-top-m
                = article.subtitle
            / Include body of CTA block, required
            = kramdown(article.body)
            / If the article as CTA buttons, build then
            - if article.cta != nil
              %div.u-margin-top-sm
                - article.cta.each do |button|
                  - url = button.url
                  %a.btn.cta-btn.lavender{:href => "#{url}"}
                    = button.text
-# CSS For Component
:sass
  .cta-btn.lavender
    width: unset